<div style="width: 50%;text-align: center; border: 1px solid;" >
<form (ngSubmit)="saveManufacturer(manufacturerFrm)" [formGroup]="manufacturerFrm">
  <div class="container">
    <h1>Manufacturer</h1>
    <p>Please fill in this form to create a Manufacturer.</p>
    <hr>

    <label for="email"><b>Manufacturer Name</b></label>
    <input type="text" placeholder="Enter Manufacturer Name" formControlName="ManufacturerName">
    <span style="color: red;" *ngIf="manufacturerFrm.get('ManufacturerName').invalid && manufacturerFrm.get('ManufacturerName').touched || submitted">
      Manufacturer Name required
    </span>

      <br>
      <br>

    <label for="psw"><b>Country</b></label>
    <select formControlName="Country">  
      <option value="1">India</option>  
      <option value="2">South Africa</option>  
    </select>  
    <span style="color: red;" *ngIf="manufacturerFrm.get('Country').invalid && manufacturerFrm.get('Country').touched || submitted">
      Country required
    </span>

    <br>
    <br>

    <button type="submit" class="registerbtn">Save</button>
  </div>
  

</form>
</div>